# Server Configuration
SECRET_KEY=
DEBUG=
PORT=

# Database Configuration
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Mail Credentials
SENDER_EMAIL=
SENDER_PASSWORD=
