[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
djangorestframework = "==3.14.0"
psycopg2 = "==2.9.7"
psycopg2-binary = "==2.9.7"
drf-yasg = "==1.21.7"

[dev-packages]
black = "==23.7.0"
isort = "==5.12.0"
ruff = "==0.0.278"

[requires]
python_version = "3.10"
